# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: 'default'

steps:
- script: dotnet restore
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration Release --platform win-x64 --output $(build.artifactstagingdirectory)'

- task: MSBuild@1
  inputs:
    platform: x86
    configuration: Release
    
- task: MSBuild@1
  inputs:
    platform: x64
    configuration: Release    
    
- task: MSBuild@1
  inputs:
    platform: AnyCPU
    configuration: Release      

- task: PublishBuildArtifacts@1
  inputs:
    ArtifactName: drop
